body::-webkit-scrollbar-track {
  background: hsl(240, 100%, 99%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(19, 100%, 70%);
}

body::-webkit-scrollbar {
  width: 8px;
}

body {
  background-color: gainsboro;
  /* height: 100vh; */
}

@supports (scrollbar-color: orange ghostwhite) {
  * {
    scrollbar-width: thin;
    scrollbar-color: orange ghostwhite;
  }
}
